.Splash {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Splash-title {
  position: absolute;
  left: 15px;
  top: 5px;
  color: black;
  font-size: 36px;
}

.Splash .Tappable {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}